section.equipments
  .container 
    .equipments-container 
      .equipments-header 
        h2.equipments-header__title Используем новейшее оборудование для ремонта 
        h3.equipments-header__subtitle
      .equipments-content 
        .equipment
          img.equipment__img(src="/assets/images/dest/equipment-1.jpg" alt="equipment-1")
          .equipment__name Затирка для пола 
          .equipment__text Вибромашина которая предназначена для уплотнения полусухой стяжки. Работает в паре с пневмонагнетателем. 
        .equipment
          img.equipment__img(src="/assets/images/dest/equipment-3.jpg" alt="equipment-2")
          .equipment__name Механизированная штукатурка 
          .equipment__text Устройство замешивает раствор штукатурки, затем штукатурный раствор подаётся под давлением, необходимым для равномерного распределения. 
        .equipment
          img.equipment__img(src="/assets/images/dest/equipment-4.jpg" alt="equipment-3")
          .equipment__name Водяной плиткорез  
          .equipment__text Водяной плиткорез, который можно использовать в неизолированных помещениях, так как от него совсем нет пыли. 
        .equipment
          img.equipment__img(src="/assets/images/dest/equipment-5.jpg" alt="equipment-4")
          .equipment__name Пневмонагнетатель 
          .equipment__text Станция для полусухой стяжки. Она смешивает песок, цемент и воду и подает через рукав в квартиру полусухую смесь для стяжки. 