section.special-renovation
  .container 
    .special-renovation-container 
      .special-renovation-header
        h2.special-renovation-header__title Ремонт коттеджей
        h3.special-renovation-header__subtitle Ремонт и отделка коттеджей по стандартам 
      .special-renovation-content
        .special-renovation-description-wrap
          .special-renovation-description 
            p.special-renovation-description__text Мы производим ремонт домов и коттеджей. Заключаем официальный договор. Смета и замеры бесплатно. Ремонт загородных домов под ключ включает разработку дизайн – проекта, закупку материалов, монтаж коммуникаций, инженерных систем, черновую, чистовую отделку, поставку мебели. Настраиваем онлайн-трансляции с объектов на смартфон заказчика. Выполняем работы на профессиональном уровне.
          ul.special-renovation-description-list 
            li.special-renovation-description__item
              i.fas.fa-pencil-ruler.special-renovation-icon
              .special-renovation-description__text Выезд на объект и замер помещений
            li.special-renovation-description__item
              i.fas.fa-draw-polygon.special-renovation-icon
              .special-renovation-description__text Подготовка дизайн-проекта интерьера и сметы ремонта
            li.special-renovation-description__item
              i.fas.fa-vector-square.special-renovation-icon
              .special-renovation-description__text Общестроительные и демонтажные работы
            li.special-renovation-description__item
              i.fas.fa-truck-moving.special-renovation-icon
              .special-renovation-description__text.big-icon Закупка и доставка черновых материалов
            li.special-renovation-description__item
              i.far.fa-object-group.special-renovation-icon
              .special-renovation-description__text Инженерные работы: электрика, отопление, вентиляция
            li.special-renovation-description__item
              i.fas.fa-paint-roller.special-renovation-icon
              .special-renovation-description__text Чистовые отделочные работы
            li.special-renovation-description__item
              i.fas.fa-trash-alt.special-renovation-icon
              .special-renovation-description__text Уборка и вывоз строительного мусора
            li.special-renovation-description__item
              i.fas.fa-couch.special-renovation-icon
              .special-renovation-description__text.big-icon Поставка мебели и аксессуаров
        // --------------
        // Slider
        // --------------
        .warehouse-slider-container
          .slider-container
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/main_001.jpg" alt="main_001")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/main_002.jpg" alt="main_002")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/main_003.jpg" alt="main_003")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/main_004.jpg" alt="main_004")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/main_005.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0067.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0068.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0069.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0070.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0071.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0072.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0073.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0074.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0075.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0076.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0077.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0078.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0079.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0080.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0081.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0082.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0083.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0084.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0085.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0086.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0087.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0088.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0089.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0090.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0091.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0092.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0093.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0094.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0095.jpg" alt="main_005")
            .slide3.animate__fadeIn.animate__animated
              img.slide__img(src="assets/images/dest/COTTAGE/IMG-20220208-WA0096.jpg" alt="main_005")
            // --------------
            // Next / Prev btn
            // --------------
            a.next-btn(onclick="plusSlide(1, 2)") &#10095;
            a.prev-btn(onclick="plusSlide(-1, 2)") &#10094;
          // --------------
          // Slider dots
          // --------------
          .slider-dots 
            span.slider-dot3(onclick="currentSlide(1, 2)")
            span.slider-dot3(onclick="currentSlide(2, 2)")
            span.slider-dot3(onclick="currentSlide(3, 2)")
            span.slider-dot3(onclick="currentSlide(4, 2)")
            span.slider-dot3(onclick="currentSlide(5, 2)")
            span.slider-dot3(onclick="currentSlide(6, 2)")
            span.slider-dot3(onclick="currentSlide(7, 2)")
            span.slider-dot3(onclick="currentSlide(8, 2)")
            span.slider-dot3(onclick="currentSlide(9, 2)")
            span.slider-dot3(onclick="currentSlide(10, 2)")
      button.special-renovation-btn.btn(onclick="document.getElementById('feedback').style.display='block'") Заказать звонок