section.brand-info
  .container 
    .brand-info-container 
      .brand-info-header
        h2.brand-info-header__title Звукоизол Гидро
        h3.brand-info-header__subtitle
      .brand-info-content
        .brand-info-img-container
          img.brand-info__img(src="assets/images/dest/MATERIALS/brand-img-4.png" alt="brand-img-4")
        .brand-info-description-container
          .brand-info-description__text Бренд: Звукоизол
          .brand-info-description__text Поставщик: ТехноСонус
          .brand-info-description__text Тонкая гидро-звукоизоляция под стяжку пола на основе битума и полиэтиленовой вспененной подложки. Предназначен для улучшения звукоизоляции от ударного шума в межэтажных перекрытиях, а так же в качестве теплозащитных прокладок в зданиях с повышенными требованиями по энергоэффективности.
          .brand-info-description__text Особенности и преимущества:
          ul.brand-info-description-list
            li.brand-info-description__item Высокие звуко- и теплоизоляционные характеристики по принципу «толщина – свойство»
            li.brand-info-description__item Экологически безопасный материал
            li.brand-info-description__item Биологическая стойкость к гниению, действию грибков и микроорганизмов
            li.brand-info-description__item Длительный срок эксплуатации, долговечность
            li.brand-info-description__item Эластичность
            li.brand-info-description__item Высокие гидроизоляционные свойства, имеет соответствующий сертификат
            li.brand-info-description__item Простота монтажа и наличие сопутствующих материалов (гидроизоляционная битумно-полимерная самоклеящаяся Лента Звукоизол) для соединения полотен материала Звукоизол