section.brand-info
  .container 
    .brand-info-container 
      .brand-info-header
        h2.brand-info-header__title Виброфлор
        h3.brand-info-header__subtitle
      .brand-info-content
        .brand-info-img-container
          img.brand-info__img(src="assets/images/dest/MATERIALS/brand-img-3.png" alt="brand-img-3")
        .brand-info-description-container
          .brand-info-description__text Бренд: Виброфлор
          .brand-info-description__text Поставщик: ТехноСонус
          .brand-info-description__text Подложка для звукоизоляции полов (под стяжку/под финишное напольное покрытие) из полиэфирного волокна. Нетканый, упругий холст из полиэфирного волокна первичной обработки, без содержания связующих добавок.
          .brand-info-description__text Особенности и преимущества:
          ul.brand-info-description-list
            li.brand-info-description__item Экологический чистый и безопасный материал
            li.brand-info-description__item Не выделяет едкой пыли, не вызывает зуд и раздражение
            li.brand-info-description__item Экономичный материал
            li.brand-info-description__item Легкость в монтаже
            li.brand-info-description__item Воздухо- и паропроницаемость, что обеспечивает отсутствие парникового эффекта и циркуляцию воздуха под напольным покрытием
            li.brand-info-description__item Незначительная гигроскопичность в сравнении с другими синтетическими волокнистыми материалами
            li.brand-info-description__item Долговечность и биологическая устойчивость
            li.brand-info-description__item Акустический комфорт в помещении