section.brand-info
  .container 
    .brand-info-container 
      .brand-info-header
        h2.brand-info-header__title Звукоизол ВП
        h3.brand-info-header__subtitle
      .brand-info-content
        .brand-info-img-container
          img.brand-info__img(src="assets/images/dest/MATERIALS/brand-img-2.png" alt="brand-img-2")
        .brand-info-description-container
          .brand-info-description__text Бренд: Звукоизол
          .brand-info-description__text Поставщик: ТехноСонус
          .brand-info-description__text Инновационный материал из высокоплотных полиэтиленовых вакуумных пузырьков в обкладке из вспененного полиэтилена с двух сторон. Предназначен для простой быстрой и чистой укладки под стяжку в системе «плавающий пол».
          .brand-info-description__text Особенности и преимущества:
          ul.brand-info-description-list
            li.brand-info-description__item Высокие звуко- и теплоизоляционные характеристики 
            li.brand-info-description__item Биологическая стойкость к гниению, стойкость к щелочной и агрессивной среде
            li.brand-info-description__item Длительный срок эксплуатации, долговечность 
            li.brand-info-description__item Не даёт усадки со временем и не теряет энергию под давлением
            li.brand-info-description__item Не боится влаги
            li.brand-info-description__item Простота монтажа 
            li.brand-info-description__item Закрывает большой объем площади одним рулоном, минимизирует количество стыков
            li.brand-info-description__item Экологически безопасный материал