section.brand-info
  .container 
    .brand-info-container 
      .brand-info-header
        h2.brand-info-header__title ТермоЗвукоИзол Форте
        h3.brand-info-header__subtitle
      .brand-info-content
        .brand-info-img-container
          img.brand-info__img(src="assets/images/dest/MATERIALS/brand-img-6.png" alt="brand-img-6")
        .brand-info-description-container
          .brand-info-description__text Бренд: Термозвукоизол
          .brand-info-description__text Поставщик: ТехноСонус
          .brand-info-description__text Маты из супертонкого стекловолокна высочайшего качества спрессованные иглопробивным методом. Выпускаются в оболочке из перфорированного полипропилена. Маты предназначены для использования в различных конструкциях шумоизоляции. Идеально подходят для шумоизоляции полов под стяжкой, снижая уровень ударного шума на 31 дБ.  Так же применяются в системах шумоизоляции стен и потолков  при возведении каркасно-обшивных конструкций. Снижают передачу вибрации, поглощают воздушный шум на средних и высоких частотах. 
          .brand-info-description__text Особенности и преимущества:
          ul.brand-info-description-list
            li.brand-info-description__item Защищен оболочкой из спанбонда и не требует дополнительных укрывных материалов
            li.brand-info-description__item Тонкий и гибкий, легко загибается на разные плоскости
            li.brand-info-description__item Многофункциональный материал (звукопоглощающий, теплоизоляционный)
            li.brand-info-description__item Имеет низкую теплопроводность, не поддается влиянию влаги, масла, обладает высокой температурной стабильностью
            li.brand-info-description__item Не содержит фенола и формальдегида
            li.brand-info-description__item Не пропускает цементный раствор (цементное молоко), который может склеить волокно