section.brand-info
  .container 
    .brand-info-container 
      .brand-info-header
        h2.brand-info-header__title Соноплат "SonoPlat" Комби
        h3.brand-info-header__subtitle
      .brand-info-content
        .brand-info-img-container
          img.brand-info__img(src="assets/images/dest/MATERIALS/brand-img-5.png" alt="brand-img-5")
        .brand-info-description-container
          .brand-info-description__text Бренд: SonoPlat 
          .brand-info-description__text Поставщик: ТехноСонус
          .brand-info-description__text Панели из многослойного целлюлозного каркаса с кварцевым песком скомбинированные с воздушной хвойной подложкой для вибродемпфирования. Идеально подходят для бескаркасной шумоизоляции стен. Общая толщина конструкции шумоизоляции стены с учетом финишного гипсокартонного листа составляет всего 34мм. Звукоизоляция ∆Rw – 13дБ.
          .brand-info-description__text Особенности и преимущества:
          ul.brand-info-description-list
            li.brand-info-description__item Быстрый, чистый и простой монтаж
            li.brand-info-description__item Комбинированный материал, способен рассеивать звуковые волны и поглощать остаточную звуковую энергию
            li.brand-info-description__item Экономия полезной площади помещения
            li.brand-info-description__item Идеальная замена плавающего пола
            li.brand-info-description__item Экологически чистый материал
            li.brand-info-description__item Лучшие акустические показатели по сравнению с аналогичными материалами
            li.brand-info-description__item Экономическая выгода относительно аналогов