section.brand-info
  .container 
    .brand-info-container 
      .brand-info-header
        h2.brand-info-header__title Звукоизол ВЭМ 4 смк
        h3.brand-info-header__subtitle
      .brand-info-content
        .brand-info-img-container
          img.brand-info__img(src="assets/images/dest/MATERIALS/brand-img-1.png" alt="brand-img-1")
        .brand-info-description-container
          .brand-info-description__text Бренд: Звукоизол
          .brand-info-description__text Поставщик: ТехноСонус
          .brand-info-description__text Тонкая самоклеящаяся звукоизоляционная мембрана с высокой массой (производство Россия). Применяется в звукоизоляционных конструкциях потолка, стен, перегородок в помещениях любого типа.
          .brand-info-description__text Особенности и преимущества:
          ul.brand-info-description-list
            li.brand-info-description__item Не содержит вредных и токсичных веществ
            li.brand-info-description__item Высокая биостойкость (устойчив к гниению)
            li.brand-info-description__item Устойчив к появлению деформаций, трещин, вздутий
            li.brand-info-description__item Высокий индекс изоляции от шума (≤26 дБ)
            li.brand-info-description__item Эластичный материал
            li.brand-info-description__item Морозостойкий
            li.brand-info-description__item Термо- и влагостойкий
            li.brand-info-description__item Экологически чистый