section.brand-info
  .container 
    .brand-info-container 
      .brand-info-header
        h2.brand-info-header__title СтопЗвук БП Прайм
        h3.brand-info-header__subtitle
      .brand-info-content
        .brand-info-img-container
          img.brand-info__img(src="assets/images/dest/MATERIALS/brand-img-7.png" alt="brand-img-7")
        .brand-info-description-container
          .brand-info-description__text Бренд: СтопЗвук 
          .brand-info-description__text Поставщик: ТехноСонус
          .brand-info-description__text Высокоэффективный шумопоглощающий материал премиум класса. Состоит из  базальтового волокна, выпускается в виде плит толщиной всего 27 мм (плотность 65 кг/м3).
          .brand-info-description__text Особенности и преимущества:
          ul.brand-info-description-list
            li.brand-info-description__item Оптимальная плотность 65 кг/м³
            li.brand-info-description__item Небольшая толщина 27мм
            li.brand-info-description__item Производится из экологически чистого сырья
            li.brand-info-description__item Соответствует европейским стандартам
            li.brand-info-description__item Постоянный контроль качества
            li.brand-info-description__item Имеет высокие звукопоглощающие свойства
            li.brand-info-description__item Низкая теплопроводность
            li.brand-info-description__item Негорючий материал 
            li.brand-info-description__item Легко режется и после установки не дает усадки 
            li.brand-info-description__item Высокая жесткость, устойчивость к деформациям
            li.brand-info-description__item Сохраняет свои качества в течении срока эксплуатации