// ----------
// Header
// ----------
.sticky-header
  position: fixed
  width: 100%
  top: 0
  left: 0
  @extend %flex-row
  background-color: #fff
  z-index: 50

// ----------
// Logo
// ----------
.logo
  &-container 
    display: flex
    align-items: center
  &-img
    border-radius: 50%
  &-description
    @extend %font-play-bold

// ----------  
// Navigation
// ----------
.sticky-header-nav
  &__list
    @extend %flex-row
  &__item
    @extend %font-play-bold
    cursor: pointer
    text-transform: uppercase
    user-select: none
    transition: all .4s
    text-shadow: 1px 1px 1px transparent
    &:hover
      color: $color-yellow
      @extend %text-shadow
    
// ----------
// Call
// ----------
.call
  @extend %flex-row
  @extend %font-play-bold
  cursor: pointer
  user-select: none

.call-phone
  content: '\f2a0'
  font-family: FontAwesome
  cursor: pointer

.call-whatsup
  font-family: FontAwesome
  content: "\f40c"
  color: #43d854
  cursor: pointer

// ---------------------------------------
// Adaptivity
// ---------------------------------------
// Screen resolution from 1920px and more
// ---------------------------------------
@media (min-width: 1920px)
  // ----------
  // Header
  // ----------
  .sticky-header
    padding: 5px 0
    justify-content: space-evenly
  
  // ----------
  // Logo
  // ----------
  .logo
    &-img
      width: 120px
      height: 120px
    &-description
      font-size: 38px

  // ----------
  // Navigation
  // ----------
  .sticky-header-nav
    &__item
      padding: 10px 20px
    &__link
      font-size: 28px

  // ----------
  // Call
  // ----------
  .call
    font-size: 28px

  .call-whatsup,
  .call-phone
    font-size: 58px

  .call-phone
    margin-left: 40px

// ---------------------------------------
// Screen resolution from 1600px to 1920px
// ---------------------------------------
@media (min-width: 1600px) and (max-width: 1919.98px)
  // ----------
  // Header
  // ----------
  .sticky-header
    padding: 0
    justify-content: space-evenly

  // ----------
  // Navigation
  // ----------
  .sticky-header-nav
    &__item
      padding: 10px 20px
    &__link
      font-size: 24px

  // ----------
  // Logo
  // ----------
  .logo
    &-img
      width: 120px
      height: 120px
    &-description
      font-size: 38px

  // ----------
  // Call
  // ----------
  .call
    font-size: 22px

  .call-whatsup,
  .call-phone
    font-size: 58px

  .call-phone
    margin-left: 40px

// ---------------------------------------
// Screen resolution from 1200px to 1600px
// ---------------------------------------
@media (min-width: 1200px) and (max-width: 1599.98px)
  // ----------
  // Header
  // ----------
  .sticky-header
    padding: 0
    justify-content: space-evenly

  // ----------
  // Logo
  // ----------
  .logo
    &-img
      width: 120px
      height: 120px
    &-description
      font-size: 32px

  // ----------
  // Navigation
  // ----------
  .sticky-header-nav
    &__item
      padding: 10px 20px
    &__link
      font-size: 20px

  // ----------
  // Call
  // ----------
  .call
    font-size: 22px

  .call-whatsup,
  .call-phone
    font-size: 52px

  .call-phone
    margin-left: 40px

// ---------------------------------------
// Screen resolution from 900px to 1200px
// ---------------------------------------
@media (min-width: 900px) and (max-width: 1199.98px)
  // ----------
  // Header
  // ----------
  .sticky-header
    padding: 0
    justify-content: space-evenly

  // ----------
  // Logo
  // ----------
  .logo
    &-img
      width: 120px
      height: 120px
    &-description
      font-size: 24px

  // ----------
  // Navigation
  // ----------
  .sticky-header-nav
    &__item
      padding: 10px
    &__link
      font-size: 16px

  // ----------
  // Call
  // ----------
  .call
    font-size: 22px

  .call-whatsup,
  .call-phone
    font-size: 52px

  .call-phone
    margin-left: 40px

// ---------------------------------------
// Screen resolution from 600px to 900px
// ---------------------------------------
@media (min-width: 600px) and (max-width: 899.98px)
  // ----------
  // Header
  // ----------
  .sticky-header
    padding: 0
    justify-content: space-between

  // ----------
  // Logo
  // ----------
  .logo
    &-img
      width: 120px
      height: 120px
    &-description
      font-size: 24px

  // ----------
  // Navigation
  // ----------
  .sticky-header-nav
    display: none

  // ----------
  // Call
  // ----------
  .call
    font-size: 22px
    margin-right: 25px

  .call-whatsup,
  .call-phone
    font-size: 52px

  .call-phone
    margin-left: 40px

  // Logo
  .logo-container
    margin-left: 25px

// ---------------------------------------
// Screen resolution from 320px to 600px
// ---------------------------------------
@media (min-width: 320px) and (max-width: 599.98px)
  // ----------
  // Header
  // ----------
  .sticky-header
    padding: 0
    justify-content: space-between

  // ----------
  // Logo
  // ----------
  .logo
    &-img
      width: 120px
      height: 120px
    &-description
      display: none

  // ----------
  // Navigation
  // ----------
  .sticky-header-nav
    display: none

  // ----------
  // Call
  // ----------
  .call
    font-size: 22px
    margin-right: 25px

  .call-whatsup,
  .call-phone
    font-size: 48px

  .call-phone
    margin-left: 40px

  // Logo
  .logo-container
    margin-left: 15px

  .logo-img
    width: 80px
    height: auto