header
  .container
    .sticky-header
      .logo-container 
        img.logo-img(src="" alt="logo-img")
        span.logo-description
      nav.sticky-header-nav 
        ul.sticky-header-nav__list
          li.sticky-header-nav__item 
            a.sticky-header-nav__link Портфолио
          li.sticky-header-nav__item 
            a.sticky-header-nav__link Калькулятор
          li.sticky-header-nav__item 
            a.sticky-header-nav__link Отзывы клиентов