header.header
  .container
    .sticky-header
      // --------------
      // Logo
      // --------------
      a.logo-container(href="index.html")
        img.logo-img(src="assets/images/dest/logo.jpg" alt="logo-img")
        span.logo-description Тихий дом
      // --------------
      // Navigation
      // --------------
      nav.sticky-header-nav 
        ul.sticky-header-nav__list
          li.sticky-header-nav__item 
            a(href="#portfolio").scrollto.sticky-header-nav__link Портфолио
          li.sticky-header-nav__item 
            a(href="#calc").scrollto.sticky-header-nav__link Калькулятор
          li.sticky-header-nav__item 
            a(href="#review").scrollto.sticky-header-nav__link Отзывы клиентов
      // --------------
      // Call btn
      // --------------
      .call
        a.call-whatsup(href="https://api.whatsapp.com/send/?phone=79629270566")
          i.fab.fa-whatsapp-square
        a.call-phone(href="tel:+79629270566" onclick="document.getElementById('feedback').style.display='block'")
          i.fas.fa-phone-square-alt
      // Call form
      include ../feedback-form/feedback-form.pug