section.portfolio
  .container 
    .portfolio-container 
      // --------------
      // Header
      // --------------
      .portfolio-header
        h2.portfolio-header__title Наши выполненные работы
        h3.portfolio-header__subtitle 
      .portfolio-content
        // --------------
        // Slider tabs
        // --------------
        .portfolio-slider-tabs 
          button#defaultOpen.portfolio-slider-tablink(onclick='openTabcontent(event, "draft")') Черновой
          button.portfolio-slider-tablink(onclick='openTabcontent(event, "finishing")') Чистовой
          button.portfolio-slider-tablink(onclick='openTabcontent(event, "onkey")') Ремонт под ключ
          button.portfolio-slider-tablink(onclick='openTabcontent(event, "cosmetic")') Косметический
          button.portfolio-slider-tablink(onclick='openTabcontent(event, "capital")') Капитальный
          button.portfolio-slider-tablink(onclick='openTabcontent(event, "designer")') Дизайнерский
        // -----------------
        // Portfolio sliders
        // -----------------
        #draft.portfolio-slider-tabcontent 
          .portfolio-slider-container
            // Draft 1
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-14.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-13.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-12.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-15.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-16.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-17.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-18.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-19.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-20.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-21.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-22.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-23.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-24.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/rem-25.jpg" alt="draft-1")
            // Draft 2
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/img.jpg" alt="draft-1")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/1.jpg" alt="draft-3")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/2.jpg" alt="draft-4")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/3.jpg" alt="draft-3")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/4.jpg" alt="draft-4")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/5.jpg" alt="draft-3")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/6.jpg" alt="draft-4")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/17.jpg" alt="draft-5")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/18.jpg" alt="draft-3")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/15.jpg" alt="draft-4")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/16.jpg" alt="draft-5")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/5.jpg" alt="draft-3")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/6.jpg" alt="draft-4")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/7.jpg" alt="draft-5")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/8.jpg" alt="draft-5")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/9.jpg" alt="draft-3")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/10.jpg" alt="draft-4")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/11.jpg" alt="draft-5")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/12.jpg" alt="draft-3")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/13.jpg" alt="draft-4")
            .portfolioSlides1.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DRAFT/14.jpg" alt="draft-5")
            // --------------
            // Next / Prev btn
            // --------------
            a.portfolio-next-btn(onclick="portfolioPlusSlides(1, 0)") &#10095;
            a.portfolio-prev-btn(onclick="portfolioPlusSlides(-1, 0)") &#10094;
          // --------------
          // Slider dots
          // --------------
          .slider-dots 
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(1, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(2, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(3, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(4, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(5, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(6, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(7, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(8, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(9, 0)")
            span.portfolio-slider-dot1(onclick="portfolioCurrentSlide(10, 0)")
        #finishing.portfolio-slider-tabcontent 
          .portfolio-slider-container
            // Finishing 1
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-04.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-03.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-05.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-06.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-07.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-08.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-09.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-10.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/rem-11.jpg" alt="finishing-1")
            // Finishing 2
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/t02_001.jpg" alt="finishing-1")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/t02_002.jpg" alt="finishing-2")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/t02_003.jpg" alt="finishing-3")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/t02_004.jpg" alt="finishing-4")
            .portfolioSlides2.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/FINISHING/t02_005.jpg" alt="finishing-5")
            // --------------
            // Next / Prev btn
            // --------------
            a.portfolio-next-btn(onclick="portfolioPlusSlides(1, 1)") &#10095;
            a.portfolio-prev-btn(onclick="portfolioPlusSlides(-1, 1)") &#10094;
          // --------------
          // Slider dots
          // --------------
          .slider-dots 
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(1, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(2, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(3, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(4, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(5, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(6, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(7, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(8, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(9, 1)")
            span.portfolio-slider-dot2(onclick="portfolioCurrentSlide(10, 1)")
        #onkey.portfolio-slider-tabcontent
          .portfolio-slider-container
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/1.jpg" alt="finishing-1")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/2.jpg" alt="finishing-2")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/3.jpg" alt="finishing-3")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/4.jpg" alt="finishing-4")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/5.jpg" alt="finishing-5")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/6.jpg" alt="finishing-1")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/7.jpg" alt="finishing-2")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/8.jpg" alt="finishing-3")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/9.jpg" alt="finishing-4")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/10.jpg" alt="finishing-5")
            .portfolioSlides3.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/11.jpg" alt="finishing-5")
            .portfolioSlides3.animate__fadeIn.animate__animated
              video.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/12.mp4" alt="finishing-5" controls)
            .portfolioSlides3.animate__fadeIn.animate__animated
              video.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/13.mp4" alt="finishing-5" controls)
            .portfolioSlides3.animate__fadeIn.animate__animated
              video.portfolio-slider-img(src="assets/images/dest/RENOVATION/ONKEY/14.mp4" alt="finishing-5" controls)
            // --------------
            // Next / Prev btn
            // --------------
            a.portfolio-next-btn(onclick="portfolioPlusSlides(1, 2)") &#10095;
            a.portfolio-prev-btn(onclick="portfolioPlusSlides(-1, 2)") &#10094;
          // --------------
          // Slider dots
          // --------------
          .slider-dots 
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(1, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(2, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(3, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(4, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(5, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(6, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(7, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(8, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(9, 2)")
            span.portfolio-slider-dot3(onclick="portfolioCurrentSlide(10, 2)")
        #cosmetic.portfolio-slider-tabcontent
          .portfolio-slider-container
            // Cosmetic 1
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-40.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-41.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-42.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-43.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-44.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-45.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-46.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-47.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-48.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-49.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-50.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-51.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-52.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/rem-53.jpg" alt="finishing-1")
            // Cosmetic 2
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/1.jpg" alt="finishing-1")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/2.jpg" alt="finishing-2")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/3.jpg" alt="finishing-3")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/4.jpg" alt="finishing-4")
            .portfolioSlides4.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/COSMETIC/5.jpg" alt="finishing-5")
            // --------------
            // Next / Prev btn
            // --------------
            a.portfolio-next-btn(onclick="portfolioPlusSlides(1, 3)") &#10095;
            a.portfolio-prev-btn(onclick="portfolioPlusSlides(-1, 3)") &#10094;
          // --------------
          // Slider dots
          // --------------
          .slider-dots 
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(1, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(2, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(3, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(4, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(5, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(6, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(7, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(8, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(9, 3)")
            span.portfolio-slider-dot4(onclick="portfolioCurrentSlide(10, 3)")
        #capital.portfolio-slider-tabcontent
          .portfolio-slider-container
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/1.jpg" alt="finishing-1")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/2.jpg" alt="finishing-2")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/3.jpg" alt="finishing-3")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/4.jpg" alt="finishing-4")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/5.jpg" alt="finishing-5")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0023.jpg" alt="finishing-6")
            //- .portfolioSlides5.animate__fadeIn.animate__animated
            //-   img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0024.jpg" alt="finishing-5")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0025.jpg" alt="finishing-7")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0026.jpg" alt="finishing-8")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0027.jpg" alt="finishing-9")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0028.jpg" alt="finishing-10")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0029.jpg" alt="finishing-11")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0030.jpg" alt="finishing-12")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0031.jpg" alt="finishing-13")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0032.jpg" alt="finishing-14")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0033.jpg" alt="finishing-15")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0034.jpg" alt="finishing-16")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0035.jpg" alt="finishing-17")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0036.jpg" alt="finishing-18")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0037.jpg" alt="finishing-19")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0038.jpg" alt="finishing-20")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0039.jpg" alt="finishing-21")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0040.jpg" alt="finishing-22")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0041.jpg" alt="finishing-23")
            .portfolioSlides5.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/CAPITAL/IMG-20220208-WA0042.jpg" alt="finishing-24")
            // --------------
            // Next / Prev btn
            // --------------
            a.portfolio-next-btn(onclick="portfolioPlusSlides(1, 4)") &#10095;
            a.portfolio-prev-btn(onclick="portfolioPlusSlides(-1, 4)") &#10094;
          // --------------
          // Slider dots
          // --------------
          .slider-dots 
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(1, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(2, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(3, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(4, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(5, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(6, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(7, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(8, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(9, 4)")
            span.portfolio-slider-dot5(onclick="portfolioCurrentSlide(10, 4)")
        #designer.portfolio-slider-tabcontent
          .portfolio-slider-container
            // Designer 1
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-55.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-56.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-57.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-58.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-59.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-60.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-61.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-62.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/rem-63.jpg" alt="finishing-1")
            // Designer 2
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/1.jpg" alt="finishing-1")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/2.jpg" alt="finishing-2")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/3.jpg" alt="finishing-3")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/4.jpg" alt="finishing-4")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/5.jpg" alt="finishing-5")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0003.jpg" alt="finishing-6")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0004.jpg" alt="finishing-7")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0005.jpg" alt="finishing-8")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0006.jpg" alt="finishing-9")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0007.jpg" alt="finishing-10")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0008.jpg" alt="finishing-11")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0009.jpg" alt="finishing-12")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0010.jpg" alt="finishing-13")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0012.jpg" alt="finishing-14")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0015.jpg" alt="finishing-15")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0016.jpg" alt="finishing-16")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0017.jpg" alt="finishing-17")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0019.jpg" alt="finishing-18")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0020.jpg" alt="finishing-19")
            .portfolioSlides6.animate__fadeIn.animate__animated
              img.portfolio-slider-img(src="assets/images/dest/RENOVATION/DESIGNER/IMG-20220208-WA0022.jpg" alt="finishing-20")
            // --------------
            // Next / Prev btn
            // --------------
            a.portfolio-next-btn(onclick="portfolioPlusSlides(1, 5)") &#10095;
            a.portfolio-prev-btn(onclick="portfolioPlusSlides(-1, 5)") &#10094;
          // --------------
          // Slider dots
          // --------------
          .slider-dots 
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(1, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(2, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(3, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(4, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(5, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(6, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(7, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(8, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(9, 5)")
            span.portfolio-slider-dot6(onclick="portfolioCurrentSlide(10, 5)")