section.brands
  .container
    .brands-container 
      .brands-header 
        h2.brands-header__title Наши материалы
        h3.brands-header__subtitle Используем только зарекомендовавшие себя бренды
      .brands-content 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-1.jpeg" alt="draft-material-1")
          p.brand__text Сухие смеси 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-2.jpg" alt="draft-material-2")
          p.brand__text Утеплители 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-3.jpg" alt="draft-material-3")
          p.brand__text Гипсокартон ГКЛ
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-4.jpg" alt="draft-material-4")
          p.brand__text Бетонконтакт / Грунтовка акриловая 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-5.jpg" alt="draft-material-5")
          p.brand__text Стеклохолст
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-6.jpg" alt="draft-material-6")
          p.brand__text Гидроизоляция, Пароизоляция 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-7.jpg" alt="draft-material-7")
          p.brand__text Клеи, мастики 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-8.jpg" alt="draft-material-8")
          p.brand__text Строительный инструмент 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-9.jpg" alt="draft-material-9")
          p.brand__text Древесно-плитные материалы 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-10.jpg" alt="draft-material-10")
          p.brand__text Лакокрасочные материалы 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-11.jpg" alt="draft-material-11")
          p.brand__text Лента уплотнительная 
        .brand-box 
          img.brand__img(src="assets/images/dest/DRAFT-MATERIALS/draft-mat-12.jpg" alt="draft-material-12")
          p.brand__text Крепежи
      .brands-footer
        p.soundproofing__text Предоставляем качесвенную звукоизоляцию, виброизоляцию для любого типа помещений, используя современные материалы.
        p.soundproofing__text Более подробно ознакомисться с списком товаров и услуг можно пройдя по 
          a.soundproofing__link(href="https://stopzvuk-shop.ru/" target="_blank") ссылке