section.review#review
  .container 
    .review-container
      .review-header
        h2.review-header__title Отзывы о нашей работе 
        h3.review-header__subtitle
      .review-content 
        .slider-carousel2
          .ant-carousel2
            .ant-carousel-hider2
              ul.ant-carousel-list2 
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/anna.jpg" alt="anna")
                    .review-header-info-wrap
                      h4.review-header-info__name Алёна
                      p.review-header-info__date 21.12.2021
                      h5.review-header-info__title Ремонт квартиры
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Очень понравилось, как сделали ремонт. Все сделано вовремя и качественно. После встречи с замерщиком, быстро составили смету, обсудили детали и начали работу. В процессе общались в чате What's up, там решали возникшие вопросы. Крайне рекомендую.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/spr.png" alt="spr")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/ivan.jpg" alt="ivan")
                    .review-header-info-wrap
                      h4.review-header-info__name Иван
                      p.review-header-info__date 08.04.2020
                      h5.review-header-info__title Ремонт кухни
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Хочу поблагодарить, за качественно проведённый комплексный ремонт нашей кухни. Все классно. Всё ровно, аккуратно и не затянуто. Профессионалы своего дела. Вдобавок сильно помогли с выбором отделоных материалов. При необходимости будем обращаться ещё.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/olga.jpg" alt="olga")
                    .review-header-info-wrap
                      h4.review-header-info__name Ольга
                      p.review-header-info__date 03.08.2021
                      h5.review-header-info__title Косметический ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Нужно было срочно сделать бюджетный косметический ремонт в 2-х комнатной квартире. Задача стояла такая: шпаклевка стен, наклеивание обоев, покраска потолков, сборка кухонной мебели, укладка кафеля на кухне(фартук). Быстро посчитали смету, полсе приехали ребята и начали работу. Все сделали, проблем в ходе работ не возникло, сделали на совесть, за что большое спасибо.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/spr.png" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vania.jpg" alt="vania")
                    .review-header-info-wrap
                      h4.review-header-info__name Владислав
                      p.review-header-info__date 14.11.2019
                      h5.review-header-info__title Ремонт комнаты
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Делали с женой ремонт двушки под ключ. Меняли старые полы на полы с подогревом, штукатурили стены, заменили плитку в ванне и сан.узле. Сделали работу в срок, материалы покупали сами, отчитываясь о каждой копейке. Результатом довольны.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vasiliy.jpg" alt="vasiliy")
                    .review-header-info-wrap
                      h4.review-header-info__name Василий
                      p.review-header-info__date 18.02.2020
                      h5.review-header-info__title Капитальный ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Ремонт выполнили в срок, хотя работы было непочатый край, так как моя недавно полученная квартира была с голыми стенами. Понравилось, что не пришлось самому закупать никаких материалов, а также адекватный цены на услуги. Ребята общительные и вежливые, спасибо, буду еще обращаться!
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vitaliy.jpg" alt="vitaliy")
                    .review-header-info-wrap
                      h4.review-header-info__name Игорь
                      p.review-header-info__date 07.07.2021
                      h5.review-header-info__title Капитальный ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Делали капитальный ремонт квартиры и ванной комнаты. Хотим выразить огромную благодарность за профессионализм, организованность, качество выполненных работ. Оказывали помощь в подборе материалов, деликатно подсказывал решения возникающих в процессе ремонта проблем. Ремонтом очень доволен.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
            .ant-carousel-arrow-left2 &#10094;
            .ant-carousel-arrow-right2 &#10095;
            .ant-carousel-dots2