section.review
  .container 
    .review-container
      .review-header
        h2.review-header__title Отзывы о нашей работе 
        h3.review-header__subtitle
      .review-content 
        .slider-carousel2
          .ant-carousel2
            .ant-carousel-hider2
              ul.ant-carousel-list2 
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/anna.jpg" alt="anna")
                    .review-header-info-wrap
                      h4.review-header-info__name Алёна
                      p.review-header-info__date 21.12.2021
                      h5.review-header-info__title Ремонт квартиры
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorem quibusdam, omnis voluptatem aliquid quia? Cumque unde impedit deleniti similique numquam fuga incidunt alias quia nisi, nostrum, amet voluptates expedita.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/spr.png" alt="spr")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/ivan.jpg" alt="ivan")
                    .review-header-info-wrap
                      h4.review-header-info__name Иван
                      p.review-header-info__date 08.04.2020
                      h5.review-header-info__title Ремонт кухни
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorem quibusdam, omnis voluptatem aliquid quia? Cumque unde impedit deleniti similique numquam fuga incidunt alias quia nisi, nostrum, amet voluptates expedita.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/olga.jpg" alt="olga")
                    .review-header-info-wrap
                      h4.review-header-info__name Ольга
                      p.review-header-info__date 03.08.2021
                      h5.review-header-info__title Косметический ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorem quibusdam, omnis voluptatem aliquid quia? Cumque unde impedit deleniti similique numquam fuga incidunt alias quia nisi, nostrum, amet voluptates expedita.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/spr.png" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vania.jpg" alt="vania")
                    .review-header-info-wrap
                      h4.review-header-info__name Владислав
                      p.review-header-info__date 14.11.2019
                      h5.review-header-info__title Ремонт комнаты
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorem quibusdam, omnis voluptatem aliquid quia? Cumque unde impedit deleniti similique numquam fuga incidunt alias quia nisi, nostrum, amet voluptates expedita.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vasiliy.jpg" alt="vasiliy")
                    .review-header-info-wrap
                      h4.review-header-info__name Василий
                      p.review-header-info__date 18.02.2020
                      h5.review-header-info__title Капитальный ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorem quibusdam, omnis voluptatem aliquid quia? Cumque unde impedit deleniti similique numquam fuga incidunt alias quia nisi, nostrum, amet voluptates expedita.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vitaliy.jpg" alt="vitaliy")
                    .review-header-info-wrap
                      h4.review-header-info__name Игорь
                      p.review-header-info__date 07.07.2021
                      h5.review-header-info__title Капитальный ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorem quibusdam, omnis voluptatem aliquid quia? Cumque unde impedit deleniti similique numquam fuga incidunt alias quia nisi, nostrum, amet voluptates expedita.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
            .ant-carousel-arrow-left2 &#10094;
            .ant-carousel-arrow-right2 &#10095;
            .ant-carousel-dots2