section.review#review
  .container 
    .review-container
      .review-header
        h2.review-header__title Отзывы о нашей работе 
        h3.review-header__subtitle
      .review-content 
        .slider-carousel2
          .ant-carousel2
            .ant-carousel-hider2
              ul.ant-carousel-list2 
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/anna.jpg" alt="anna")
                    .review-header-info-wrap
                      h4.review-header-info__name Алёна
                      p.review-header-info__date 21.12.2021
                      h5.review-header-info__title Ремонт квартиры
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Чувства и эмоции позитивные от услуг по ремонту. Работы сделаны хорошо, сам процесс не затянулся. После встречи с замерщиком была быстро подготовлена смета и после обсуждения всех деталей заключен договор. Понравилось, что был whatsup чат с менеджером для разрешения вопросов по ходу ремонта. Если кому-то нужна рекомендация - рекомендуем!
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/spr.png" alt="spr")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/ivan.jpg" alt="ivan")
                    .review-header-info-wrap
                      h4.review-header-info__name Иван
                      p.review-header-info__date 08.04.2020
                      h5.review-header-info__title Ремонт кухни
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Спасибо за качественно проведённый комплексный ремонт нашей кухни. Очень довольны результатом. Ребята профессионалы, все очень чётко, аккуратно, быстро, уложились в оговорённые сроки. Кроме того, получили ценные советы по выбору отделочных материалов. Очень рекомендую, будем ещё обращаться.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/olga.jpg" alt="olga")
                    .review-header-info-wrap
                      h4.review-header-info__name Ольга
                      p.review-header-info__date 03.08.2021
                      h5.review-header-info__title Косметический ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Требовалось сделать бюджетный косметический ремонт 2-х комнатной квартиры: шпаклевка стен, наклеивание обоев, покраска потолков, сборка кухонной мебели, укладка кафеля на кухне(фартук). Быстро составили смету, и после её согласования сразу же приступили к работе. Все поставленные задачи выполнены, качество работ отличное.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/spr.png" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vania.jpg" alt="vania")
                    .review-header-info-wrap
                      h4.review-header-info__name Владислав
                      p.review-header-info__date 14.11.2019
                      h5.review-header-info__title Ремонт комнаты
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Делали ремонт нашей двушки под ключ. Менялись полы, штукатурились стены, делался демонтаж старой и монтаж новой плитки. Сроки были выполнены, материалы покупали сами и держали полный отчёт. Результат всем понравился, качественно все сделали.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vasiliy.jpg" alt="vasiliy")
                    .review-header-info-wrap
                      h4.review-header-info__name Василий
                      p.review-header-info__date 18.02.2020
                      h5.review-header-info__title Капитальный ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Ремонт выполнили в срок, хотя работы было очень-очень много , так как моя недавно полученная квартира была с голыми стенами. Из плюсов также хотелось бы отметить то, что не нужно закупать никакие материалы, а также лояльный ценник на услуги. Ребята общительные и вежливые, спасибо, буду еще обращаться!
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                li.ant-carousel-element2
                  .review-header 
                    img.review-header-img(src="assets/images/dest/REVIEW/vitaliy.jpg" alt="vitaliy")
                    .review-header-info-wrap
                      h4.review-header-info__name Игорь
                      p.review-header-info__date 07.07.2021
                      h5.review-header-info__title Капитальный ремонт
                  .review-content 
                    h4.review-content__title Отзыв о работе:
                    p.review-content__text Делали капитальный ремонт квартиры и ванной комнаты. Хотим выразить огромную благодарность за профессионализм, организованность, качество выполненных работ. Оказывали помощь в подборе материалов, деликатно подсказывал решения возникающих в процессе ремонта проблем. Ремонтом очень доволен.
                  .review-content-footer
                    img.review-content-footer__source(src="assets/images/dest/REVIEW/2gis.jpg" alt="2gis")
                    .review-content-footer__score
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
                      i.fas.fa-star.review-star
            .ant-carousel-arrow-left2 &#10094;
            .ant-carousel-arrow-right2 &#10095;
            .ant-carousel-dots2