section.control
  .container
    .control-container 
      .control-header
        h2.control-header__title Вы контролируете все этапы ремонта
        h3.control-header__subtitle Мы отвечаем за качество
      .control-content
        ul.control-list
          li.control__item 
            p.control__text Отчитываемся о ремонте каждый день по телефону, WhatsApp, Telegram или почте. Фотоотчет каждые 3 дня.
          li.control__item 
            p.control__text 3-х уровневая система контроля качества: менеджер, прораб, начальник участка.
          li.control__item 
            p Срок сдачи ремонта фиксируем в договоре. Заплатим 0.1% за каждый день просрочки. Гарантия на все работы до 3 лет.