section.work-steps
  .container 
    .work-steps-container
      .work-steps-header
        h2.work-steps-header__title Этапы работы
        h3.work-steps-header__subtitle Последовательные шаги выполнения заказа
      .work-steps-content
        .work-steps-wrap 
          .work-step
            i.fas.fa-envelope.work-step-icon
            p.work-step__text Подача заявки
          i.fas.fa-long-arrow-alt-right.arrow
          .work-step
            i.fas.fa-ruler-combined.work-step-icon
            p.work-step__text Замер помещения
          i.fas.fa-long-arrow-alt-right.arrow
          .work-step
            i.fas.fa-file-signature.work-step-icon
            p.work-step__text Подписание договора
          i.fas.fa-long-arrow-alt-right.arrow
          .work-step
            i.fas.fa-hammer.work-step-icon
            p.work-step__text Начало ремонта
          i.fas.fa-long-arrow-alt-right.arrow
          .work-step
            i.fas.fa-handshake.work-step-icon
            p.work-step__text Прием ремонта
          i.fas.fa-long-arrow-alt-right.arrow
          .work-step
            i.fas.fa-wallet.work-step-icon
            p.work-step__text Оплата по факту