section.technologies
  .container 
    .technologies-container 
      .technologies__title 
      .technologies-slider-container 
        .technologies-slide
          img.technologies-slide__img
          .technologies-slide__title 
          .technologies-slide__text