section.technologies
  .container 
    .technologies-container 
      .technologies-header
        h2.technologies__title Производство и технологии 
        h3.technologies_subtitle
      .technologies-content-wrap 
        .slider-carousel 
          .ant-carousel
            .ant-carousel-hider
              ul.ant-carousel-list 
                li.ant-carousel-element 
                  img.ant-carousel-img(src="assets/images/dest/carousel-3.png" alt="1")
                  .ant-carousel-description 
                    .ant-carousel__name Ремонт по современным стандартам
                    .ant-carousel__text Используем современное оборудование и инструменты, делая свою работу максимально быстро и качественнно.
                li.ant-carousel-element 
                  img.ant-carousel-img(src="assets/images/dest/carousel-8.jpg" alt="2")
                  .ant-carousel-description 
                    .ant-carousel__name Полный спектр услуг ремонта
                    .ant-carousel__text Выполняем любой ремонт от косметического вплоть до полной переделки планировки квартиры
                li.ant-carousel-element 
                  img.ant-carousel-img(src="assets/images/dest/carousel-7.jpg" alt="3")
                  .ant-carousel-description 
                    .ant-carousel__name Проведем надежную электрику
                    .ant-carousel__text Выполняем электромонтаж в соотвествии с вашими требованиямии и всеми стандартами безопасности.
                li.ant-carousel-element 
                  img.ant-carousel-img(src="assets/images/dest/carousel-6.jpg" alt="4")
                  .ant-carousel-description 
                    .ant-carousel__name Сделаем планировку с умом
                    .ant-carousel__text Продумываем планировку и расположение элементов в квартире. Все необходимые переключатели и розетки будут находиться в комфортных для вас местах.
                li.ant-carousel-element 
                  img.ant-carousel-img(src="assets/images/dest/carousel-5.jpg" alt="5")
                  .ant-carousel-description 
                    .ant-carousel__name Надёжно прокладываем сантехнику
                    .ant-carousel__text Проверяем герметичность соединения труб. Надежно запресовываем все гильзы на соединение трубы отопления, которые идут к радиатору.
            .ant-carousel-arrow-left &#10094;
            .ant-carousel-arrow-right &#10095;
            .ant-carousel-dots