footer.footer
  .container 
    .footer-container
      .footer-header
        h2.footer-header__title Контакты
        h3.footer-header__subtitle
      .footer-content 
        .footer-contacts
          .footer-contacts-box
            i.far.fa-clock.footer-icon
            p.footer-box__text Мы работаем: 
            p.footer-box__text 09:00 - 22:00 
          .footer-contacts-box
            i.fas.fa-map-marked-alt.footer-icon
            p.footer-box__text Мы находимся здесь: 
            p.footer-box__text г. Москва, проезд Серебрякова, д.6, ДЦ «Серебрякова»
          .footer-contacts-box
            a.link(href="https://api.whatsapp.com/send/?phone=79643920409&text=Здравствуйте%2C+у+меня+есть+вопрос")
              i.fas.fa-phone-volume.footer-icon
            p.footer-box__text Звоните по телефону: 
            p.footer-box__text +7 (495)-798-50-01
          .footer-contacts-box
            i.far.fa-envelope.footer-icon
            p.footer-box__text Почта: 
            p.footer-box__text silent-house@info.com
        .footer-line
        .footer-social
          a.footer-social-instagram(href="https://www.instagram.com/silent_house__/" target="_blanc")
            i.fab.fa-instagram
