section.discount
  .container 
    .discount-container
      .discount-header
        h2.discount-header__title Скидки на ремонт 
        h3.discount-header__subtitle Скидка зависит от типа дома и его расположения, узнайте свою!
      .discount-content
        p.discount-percent 
          span от&nbsp;
          span.discount-num 5%&nbsp;
          span до&nbsp;
          span.discount-num 20%
        button.discount-btn.btn(onclick="document.getElementById('feedback').style.display='block'") Узнать скидку