section.head 
  .container 
    .head-container 
      .head-title-wrap
        .head__title Ремонт квартир под ключ в Москве и МО от 5 500 ₽/м2
        .head__subtitle Дизайн интерьера, ремонт квартиры, комплектация — решение любых вопросов в одной компании. 
      .head-content-wrap 
        .head-content-benefits
          .head-content-benefits-container
            .head-content-benefit__box
            .head-content-benefit__box
            .head-content-benefit__box
            .head-content-benefit__box
          .head-content-benefits__btn
        .head-content-calc