section.brands
  .container
    .brands-container 
      .brands-header 
        h2.brands-header__title Наши материалы
        h3.brands-header__subtitle Используем только зарекомендовавшие себя бренды
      .brands-content 
        .brand-box 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-1.png" alt="brand-img-1")
          p.brand__text Звукоизол ВЭМ 4 смк
        .brand-box 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-2.png" alt="brand-img-2")
          p.brand__text Звукоизол ВП
        .brand-box 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-3.png" alt="brand-img-3")
          p.brand__text Виброфлор
        .brand-box 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-4.png" alt="brand-img-4")
          p.brand__text Звукоизол Гидро
        .brand-box 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-5.png" alt="brand-img-5")
          p.brand__text Соноплат "SonoPlat" Комби
        .brand-box 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-6.png" alt="brand-img-6")
          p.brand__text ТермоЗвукоИзол Эко
        .brand-box 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-7.png" alt="brand-img-7")
          p.brand__text СтопЗвук БП Лайт
        .brand-box 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-8.png" alt="brand-img-8")
          p.brand__text СтопЗвук БП Премиум