section.brands
  .container
    .brands-container 
      .brands-header 
        h2.brands-header__title Наши материалы
        h3.brands-header__subtitle Используем только зарекомендовавшие себя бренды
      .brands-content 
        a.brand-box(href="brand-1.html")
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-1.png" alt="brand-img-1")
          p.brand__text Звукоизол ВЭМ 4 смк
        a.brand-box(href="brand-2.html")
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-2.png" alt="brand-img-2")
          p.brand__text Звукоизол ВП
        a.brand-box(href="brand-3.html") 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-3.png" alt="brand-img-3")
          p.brand__text Виброфлор
        a.brand-box(href="brand-4.html") 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-4.png" alt="brand-img-4")
          p.brand__text Звукоизол Гидро
        a.brand-box(href="brand-5.html") 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-5.png" alt="brand-img-5")
          p.brand__text Соноплат "SonoPlat" Комби
        a.brand-box(href="brand-6.html") 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-6.png" alt="brand-img-6")
          p.brand__text ТермоЗвукоИзол Форте
        a.brand-box(href="brand-7.html") 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-7.png" alt="brand-img-7")
          p.brand__text СтопЗвук БП Прайм
        a.brand-box(href="brand-8.html") 
          img.brand__img(src="assets/images/dest/MATERIALS/brand-img-8.png" alt="brand-img-8")
          p.brand__text СтопЗвук БП Премиум